<template>
  <div class="about">
    <div class="about-top">
      <b-container>
        <b-row class="about-subsection">
          <b-col>
            <h3>Who We Are</h3>
            <p>
              Young Coders Application Developers was founded in October 2018 with the aim of
              grooming young girls in Africa with Information Technology (IT) and entrepreneurial skills
            </p>
          </b-col>
          <b-col>
            <img src="@/assets/questions.svg" alt="Questions illustration" height="300px" width="300px" />
          </b-col>
        </b-row>
      </b-container>
    </div>
    <LeftImageRow :heading="propA.heading" :url="propA.url" :description="propA.description"/>
    <RightImageRow :heading="propB.heading" :url="propB.url" :description="propB.description"/>
    <LeftImageRow :heading="propC.heading" :url="propC.url" :description="propC.description"/>
    <Team />
  </div>
</template>

<script>
// @ is an alias to /src ../assets/pair_programming.svg
import HeaderSection from "@/components/HeaderSection.vue";
import LeftImageRow from "@/components/LeftImageRow.vue";
import RightImageRow from "@/components/RightImageRow.vue";
import Team from "@/components/Team.vue";

export default {
  name: "home",
  data() {
    return {
      propA: {
        heading: "Mission",
        url: "to_do_list.svg",
        description:
          "Redeem the reputation of Africa by providing opportunities, resources and information to young girls and further harness their energy, creativity and talent for the prosperity of the African continent."
      },
      propB: {
        heading: "Vision",
        url: "Destination.svg",
        description:
          "We see an Africa with skilled girls who are capable of actuating changes in their immediate environment and in Africa as a whole."
      },
      propC: {
        heading: "Belief",
        url: "book_lover.svg",
        description:
          "We believe that enhancing IT skills in the hands of the African youth who comprise 60% of the continent's population, is essential for effective change in Africa."
      }
    };
  },
  components: {
    HeaderSection,
    LeftImageRow,
    RightImageRow,
    Team
  }
};
</script>
<style scoped>
.about {
  text-align: left !important;
}

.about .row {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-top{
  background-color: #FFF1EE;
  margin-top: 20px;
  margin-bottom: 70px;
}

.about-subsection {
  padding-right: 15px;
  padding-left: 15px;
}

.about-subsection img, .about-subsection h5 {
  margin-bottom: 15px;
}

.about-subsection h5 {
  font-weight: 600;
}

img {
  width: 600px;
  padding-left: 200px;
}

h3 {
  font-weight: 800;
  color: #fe825e;
  padding-top: 30px;
}
</style>
