<template>
  <div class="gallery">
    <div class="gallery-top">
      <b-container>
        <b-row class="gallery-subsection">
          <b-col>
            <h3>Meet Our Pioneers</h3>
            <p>We started the program with the girls from the International School.</p>
          </b-col>
        </b-row>
      </b-container>
    </div>
    <div class="container">
      <b-row> 
        <b-col v-for="(image, i) in images" :key="i">
          <img class="image" :src="image" @click="onClick(i)">
        </b-col>
      </b-row>
      <vue-gallery-slideshow :images="images" :index="index" @close="index = null"></vue-gallery-slideshow>
    </div>
  </div>
</template>

<script>
import VueGallerySlideshow from "vue-gallery-slideshow";

export default {
  name: "home",
  methods: {
    onClick(i) {
      this.index = i;
    },
    loadImage(url) {
      return require("@/assets/gallery/" + url);
    }
  },
  data() {
    return {
      propA: {
        heading: "Android App Development",
        url: "android.svg",
        description:
          "Put in the hands of our skilled and experienced instructors, our students are subjected to a series of classes spanning over a time-frame of 12 weeks. The students are taught how to develop different android applications using top-notch software programs. As the sessions progress, they become tougher and the students, likewise, become more skilled. At the end of the course, we have students who are equipped with the ability to create basic Android apps."
      },
      propB: {
        heading: "Web App Development",
        url: "static_assets.svg",
        description:
          "Our web application development training is very similar to that of our android application development. The time frame is also 12 weeks long. However, during these sessions, our students get to learn a lot about building websites using HTML, CSS, and JavaScript. With such expertise, our 10-16-year-old girls are given an advantage in the outside world and are geared in order to solve problems in our community at large."
      },
      fileNames: [],
      images: [
        require("@/assets/gallery/img_01.jpg"),
        require("@/assets/gallery/img_02.jpg"),
        require("@/assets/gallery/img_03.jpg"),
        require("@/assets/gallery/img_04.jpg"),
        require("@/assets/gallery/img_05.jpg"),
        require("@/assets/gallery/img_06.jpg"),
        require("@/assets/gallery/img_07.jpg"),
        require("@/assets/gallery/img_08.jpg"),
        require("@/assets/gallery/img_09.jpg"),
        require("@/assets/gallery/img_10.jpg"),
        require("@/assets/gallery/img_11.jpg"),
        require("@/assets/gallery/img_12.jpg"),
        require("@/assets/gallery/img_13.jpg"),
        require("@/assets/gallery/img_14.jpg"),
        require("@/assets/gallery/img_15.jpg"),
        require("@/assets/gallery/img_16.jpeg"),
        require("@/assets/gallery/img_17.jpeg"),
        require("@/assets/gallery/img_18.jpeg"),
        require("@/assets/gallery/img_19.jpeg"),
        require("@/assets/gallery/img_20.jpeg"),
        require("@/assets/gallery/img_21.jpeg"),
        require("@/assets/gallery/img_22.jpeg"),
        require("@/assets/gallery/img_23.jpeg"),
        require("@/assets/gallery/img_24.jpeg"),
        require("@/assets/gallery/img_25.jpeg"),
        require("@/assets/gallery/img_26.jpeg"),
        require("@/assets/gallery/img_27.jpeg"),
        require("@/assets/gallery/img_28.jpeg"),
        require("@/assets/gallery/img_29.jpeg"),
        require("@/assets/gallery/img_30.jpeg"),
        require("@/assets/gallery/img_31.jpeg"),
      ],
      index: null
    };
  },
  components: {
    VueGallerySlideshow
  }
};
</script>
<style scoped>
.gallery {
  text-align: left !important;
}

.gallery .row {
  padding-top: 50px;
  padding-bottom: 50px;
}

.gallery-top {
  background-color: #fff1ee;
  background-image: url("../assets/puckie.png");
  height: 700px;
  opacity: 0.7;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 70px;
}

.gallery-subsection {
  padding-right: 15px;
  padding-left: 15px;
  color: #fff;
}

.gallery-subsection h3 {
  margin-bottom: 15px;
  font-weight: 800;
  padding-top: 250px;
}
.image {
  width: 220px;
  height: 220px;
  background-size: contain;
  cursor: pointer;
  margin: 10px;
  border-radius: 3px;
}
</style>