<template>
  <div class="home">
    <HeaderSection msg="Welcome to Your Vue.js App"/>
    <LeftImageRow :heading="propA.heading" :url="propA.url" :description="propA.description" />
    <RightImageRow :heading="propB.heading" :url="propB.url" :description="propB.description" />
    <LeftImageRow :heading="propC.heading" :url="propC.url" :description="propC.description" />
    <Sponsors/>
  </div>
</template>

<script>
// @ is an alias to /src ../assets/pair_programming.svg
import HeaderSection from "@/components/HeaderSection.vue";
import LeftImageRow from "@/components/LeftImageRow.vue";
import RightImageRow from "@/components/RightImageRow.vue";
import Sponsors from "@/components/Sponsors.vue";

export default {
  name: "home",
  data() {
    return{
      propA:{
        heading: "Bridging the Gender Inequality Gap in IT",
        url: "designer_girl.svg",
        description: "Women, especially women of color, are being left behind in the world of computing. The availability of jobs in Information Technology is on the rise, yet there are only 10% of these women in the computing workforce. Catching girls at a young age and grooming them with essential IT skills will assist in lessening the menace of such gender inequality in Africa."
      },
      propB:{
        heading: "Instilling Confidence Through Training and Mentorship",
        url: "smiley_face.svg",
        description: "With the provision of world-class resources to keep our students engaged, we keep in touch with them and guide them through various obstacles and challenges. We leave absolutely no one behind. Thereby, building a network of confident students."
      },
      propC:{
        heading: "Building a Community of Future Leaders",
        url: "hang_out.svg",
        description: "Africa has the largest youth population in the world and it is growing at very speedy rates. By the year 2055, this populace (aged 15-24), is expected to be more than twice the amount of  the 2015 total of 226 million people.\n\nWith IT skills in the hands of such a large population of youths, we hope to build a community of smart and vibrant people capable of producing innovative and creative solutions to Africa's greatest problems."
      }
    }
  },
  components: {
    HeaderSection,
    LeftImageRow,
    RightImageRow,
    Sponsors
  }
};
</script>
