<template>
  <div class="program">
    <div class="program-top">
      <b-container>
        <b-row class="program-subsection">
          <b-col>
            <h3>What We Do</h3>
            <p>
              We run a 12 weeks hands-on program. Each class lasts for two hours and happens every Saturday. 
              Our target audience are young girls attending a secondary school between the ages of 10 and 16.
            </p>
          </b-col>
          <b-col class="top-img">
            <img src="@/assets/in_progress.svg" alt="Questions illustration" height="300px" width="300px" />
          </b-col>
        </b-row>
      </b-container>
    </div>
    <LeftImageRow :heading="propA.heading" :url="propA.url" :description="propA.description"/>
    <RightImageRow :heading="propB.heading" :url="propB.url" :description="propB.description"/>
  </div>
</template>

<script>

import LeftImageRow from "@/components/LeftImageRow.vue";
import RightImageRow from "@/components/RightImageRow.vue";

export default {
  name: "home",
  data() {
    return {
      propA: {
        heading: "Android App Development",
        url: "android.svg",
        description:
          "Put in the hands of our skilled and experienced instructors, our students are subjected to a series of classes spanning over a time-frame of 12 weeks. The students are taught how to develop different android applications using top-notch software programs. As the sessions progress, they become tougher and the students, likewise, become more skilled. At the end of the course, we have students who are equipped with the ability to create basic Android apps."
      },
      propB: {
        heading: "Web App Development",
        url: "static_assets.svg",
        description:
          "Our web application development training is very similar to that of our android application development. The time frame is also 12 weeks long. However, during these sessions, our students get to learn a lot about building websites using HTML, CSS, and JavaScript. With such expertise, our 10-16-year-old girls are given an advantage in the outside world and are geared in order to solve problems in our community at large."
      }
    };
  },
  components: {
    LeftImageRow,
    RightImageRow,
  }
};
</script>
<style scoped>
.program {
  text-align: left !important;
}

.program .row {
  padding-top: 50px;
  padding-bottom: 50px;
}

.program-top{
  background-color: #FFF1EE;
  margin-top: 20px;
  margin-bottom: 70px;
}

.program-subsection {
  padding-right: 15px;
  padding-left: 15px;
}

.program-subsection img, .program-subsection h3 {
  margin-bottom: 15px;
}

img {
  width: 600px;
  padding-left: 200px;
}

h3 {
  font-weight: 800;
  color: #fe825e;
  padding-top: 30px;
}
</style>
