<template>
  <footer class="page-footer font-small indigo">
    <div class="container text-center text-md-left">
      <div class="row">
        <div class="col-md-4 mx-auto">
          <h5 class="font-weight-bold mt-4 mb-4">Designed with ❤️ by</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!">YCAD Team - Website</a>
            </li>
            <li>
              <a href="#!">Undraw - Illustrations</a>
            </li>
            <li>
              <a href="#!">Icons - Icons8</a>
            </li>
          </ul>
        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-4 mx-auto">
          <!-- Links -->
          <h5 class="font-weight-bold  mt-4 mb-4">Social</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>
        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-4 mx-auto">
          <!-- Links -->
          <h5 class="font-weight-bold mt-4 mb-4">Contact Us</h5>

          <ul class="list-unstyled">
            <li>
              <span>+234 803 342 4289</span>
            </li>
            <li>
              <span>cyinkabanjo@unilag.edu.ng</span>
            </li>
          </ul>
        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none">
      </div>
    </div>
    <div class="footer-copyright text-center py-3">
      © 2019 Copyright: Young Coders Application Development Program. All rights reserved 
    </div>
  </footer>
</template>

<script>
export default {
  props: {
    msg: String
  }
};
</script>

<style scoped>
  footer{
    background-color: #FE825E;
    color: #fff;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
</style>
