<template>
  <div class="container">
    <b-navbar toggleable="md">
      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

      <b-navbar-brand>
        <router-link to="/">
          <img alt="Vue logo" src="@/assets/logo_orange_64.png">
        </router-link>
      </b-navbar-brand>

      <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav class="ml-auto">
          <b-nav>
            <b-nav-item>
              <router-link to="/about">About</router-link>
            </b-nav-item>
            <b-nav-item>
              <router-link to="/program" class="mid-nav-item">Program</router-link>
            </b-nav-item>
            <b-nav-item>
              <router-link to="/gallery">Gallery</router-link>
            </b-nav-item>
          </b-nav>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
export default {
  name: "AppHeader",
  props: {
    msg: String
  }
};
</script>

<style scoped>
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 30px auto;
}
.mid-nav-item {
  margin-left: 15px;
  margin-right: 15px;
}
.nav-item .nav-link a {
  color: #707070;
  text-decoration: none;
}
.nav-item .nav-link a:hover {
  color: #fe825e;
}
.nav-item .nav-link a.active {
  color: #fe825e;
}
</style>
