<template>
  <div class="hs-container">
    <b-container>
      <b-row class="hs-top">
        <b-col>
          <h3>Young Coders Application Development Program (YCAD)</h3>
          <p>
            Empowering young girls with sustainable Information Technology (IT) skills
            with the aim of increasing the participation of girls in tech across Africa
          </p>
        </b-col>
        <b-col class="top-img">
          <img src="@/assets/pair_programming.svg" alt="Pair Programming" height="300px" width="300px" />
        </b-col>
      </b-row>
    </b-container>
    <div class="hs-subsection">
      <b-container>
          <b-row>
            <b-col>
              <img src="@/assets/document.png" alt="Registration icon" height="80px" width="80px">
              <h5>Register</h5>
              <p>Fill in your details while you patiently wait for the selection process to be completed</p>
            </b-col>
            <b-col>
              <img src="@/assets/training.png" alt="Training icon" height="80px" width="80px">
              <h5>Train</h5>
              <p>Once selected, join the web or android track and begin your journey in IT</p>
            </b-col>
            <b-col>
              <img src="@/assets/collaboration.png" alt="Mentorship icon" height="80px" width="80px">
              <h5>Mentor</h5>
              <p>We ensure personal growth through constant conversations and checkups on each of our students</p>
            </b-col>
          </b-row>
      </b-container>
    </div>
  </div>
</template>

<script>
export default {
  name: "HeaderSection"
};
</script>

<style scoped>
.hs-container {
  text-align: left !important;
}

.hs-container .row {
  padding-top: 50px;
  padding-bottom: 50px;
}

.hs-subsection{
  background-color: #FFF1EE;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 70px;
}

.hs-subsection img, .hs-subsection h5 {
  margin-bottom: 15px;
}

.hs-subsection h5 {
  font-weight: 600;
}

.hs-top {
  padding-right: 15px;
  padding-left: 15px;
}

.top-img img {
  width: 600px;
  padding-left: 200px;
}

h3 {
  font-weight: 800;
  color: #fe825e;
  padding-top: 30px;
}
</style>
