<template>
  <b-container class="left-image-row">
    <b-row>
      <b-col>
        <img v-bind:src="loadImage(url)" v-bind:alt="heading" height="400px" width="400px">
      </b-col>
      <b-col>
        <h3>{{ heading }}</h3>
        <p>{{ description }}</p>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: "LeftImageRow",
  props: {
    heading: String,
    description: String,
    url: String
  },
  methods: {
    loadImage(url) {
      return require("@/assets/" + url);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.left-image-row {
  text-align: left !important;
  margin-top: 50px;
  margin-bottom: 50px;
}
h3 {
  font-weight: 800;
  color: #fe825e;
  margin-bottom: 30px;
}
</style>
