<template>
  <b-container class="sponsors">
    <b-row>
      <h3>Sponsors</h3>
    </b-row>
    <b-row>
      <b-col>
        <b-img rounded="circle" blank blank-color="#cbcbcb" alt="img" class="m-1"/>
      </b-col>
      <b-col>
        <img src="@/assets/unilag-logo.png" alt="Unilag logo" />
      </b-col>
      <b-col>
        <b-img rounded="circle" blank blank-color="#cbcbcb" alt="img" class="m-1"/>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: "Sponsors",
  props: {
    msg: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .sponsors {
    margin-bottom: 50px;
    margin-top: 50px;
  }
  h3{
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
    font-weight: 600;
    color: #fe825e; 
  }
  img {
      width: 140px;
      height: 140px;
  }
</style>
