<template>
  <b-container class="team">
    <h3>Meet the Team</h3>
    <b-row>
      <b-col>
        <img src="@/assets/vc.png" alt="Prof Oluwatoyin">
        <h5>Prof. Oluwatoyin T. Ogundipe</h5>
        <h6>Founder/VC UNILAG</h6>
        <div>
          <span class="team-social"><a href="http://staffprofile.unilag.edu.ng/emd_person/2639/" target="_"><font-awesome-icon icon="globe" /></a></span>
        </div>
      </b-col>
      <b-col>
        <img src="@/assets/dr_chika.png" alt="Dr Chika">
        <h5>Dr. Chika O. Yinka-Banjo</h5>
        <h6>Coordinator</h6>
        <div>
          <span class="team-social"><a href="http://staffprofile.unilag.edu.ng/emd_person/draft-created-on-june-25-2018-at-1026-am/" target="_"><font-awesome-icon icon="globe" /></a></span>
          <span class="team-social"><a href="https://www.linkedin.com/in/chika-yinka-banjo-8993961a/" target="_"><font-awesome-icon :icon="['fab', 'linkedin']" /></a></span>
        </div>
      </b-col>
      <b-col>
        <img src="@/assets/ogban.png" alt="Ogban">
        <h5>Ogban-Asuquo Ugot</h5>
        <h6>Web Instructor</h6>
        <div>
          <span class="team-social"><a href="https://twitter.com/ogbanugot" target="_"><font-awesome-icon :icon="['fab', 'twitter-square']" /></a></span>
        </div>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <img src="@/assets/dami.png" alt="Damilola">
        <h5>Oluwadamilola Odujoko</h5>
        <h6>Android Instructor</h6>
        <div>
          <span class="team-social"><a href="https://www.linkedin.com/in/odujokod/" target="_"><font-awesome-icon :icon="['fab', 'linkedin']" /></a></span>
          <span class="team-social"><a href="https://twitter.com/_odujokod" target="_"><font-awesome-icon :icon="['fab', 'twitter-square']" /></a></span>
        </div>
      </b-col>
      <b-col>
        <img src="@/assets/fisayo.png" alt="Fisayo">
        <h5>Oluwafisayomi Sodeinde</h5>
        <h6>Logistics/Support Web Instructor</h6>
        <div>
          <span class="team-social"><a href="https://www.instagram.com/fisayomie_/" target="_"><font-awesome-icon :icon="['fab', 'instagram']" /></a></span>
          <span class="team-social"><a href="https://twitter.com/fiissie" target="_"><font-awesome-icon :icon="['fab', 'twitter-square']" /></a></span>
        </div>
      </b-col>
      <b-col>
        <img src="@/assets/victory.png" alt="Fisayo">
        <h5>Victory Yinka-Banjo</h5>
        <h6>Editor</h6>
        <div>
          <span class="team-social"><a href="https://www.linkedin.com/in/victory-yinka-banjo-b2b40b96/" target="_"><font-awesome-icon :icon="['fab', 'linkedin']" /></a></span>
          <span class="team-social"><a href="https://www.instagram.com/little_miss2097/" target="_"><font-awesome-icon :icon="['fab', 'instagram']" /></a></span>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: "Team"
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.team {
  text-align: center;
}
.team h3{
  font-weight: 600;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 70px;
  color: #fe825e;
}
.team .row {
  margin-bottom: 100px;
}
.row img {
  width: 207px;
  height: 207px;
  border-radius: 50%;
  margin-bottom: 15px;
}
.row h5{
  font-size: 20px;
}
.team-social{
  margin-right: 15px;
}
.team-social a{
  color: #fe825e;
  font-size: 20px;
}
</style>
